:root {
    --cookie-guard-zindex: 99999;
    --cookie-guard-backdrop-color: rgba(0, 0, 0, 0.7);
    --cookie-guard-background-color: #fff;
    --cookie-guard-button-color: #fff;
    --cookie-guard-button-background-color: #000;
    --cookie-guard-button-hover-color: #fff;
    --cookie-guard-button-hover-background-color: #777;
    --cookie-guard-button-border-radius: 16px;
    --cookie-guard-button-primary-color: #fff;
    --cookie-guard-button-primary-background-color: #1051ac;
    --cookie-guard-button-hover-primary-background-color: #0b326a;
    --cookie-guard-button-hover-primary-color: #fff;
}

.cookieguard {
    position: relative;
    z-index: var(--cookie-guard-zindex);
}

.cookieguard__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cookie-guard-backdrop-color);
}
.cookieguard__scroll-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    min-height: 100%;
}
.cookieguard__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
.cookieguard__content {
    background-color: var(--cookie-guard-background-color);
    padding: 48px;
    width: 48rem;
    max-width: 100%;
}

.cookieguard__before-options {
    margin: 16px 0;
}

.cookieguard__options {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.cookieguard__checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.cookieguard__checkbox {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.cookieguard__button-container {
    margin-top: 16px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
    .cookieguard__button-container {
        grid-template-columns: 1fr;
    }
}

.cookieguard__button {
    display: inline-flex;
    appearance: none;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    border: none;
    line-height: 1.2;
    border-radius: var(--cookie-guard-button-border-radius);
    font-weight: bold;
    padding: 8px 16px;
    background: var(--cookie-guard-button-background-color);
    color: var(--cookie-guard-button-color);
    cursor: pointer;
}
.cookieguard__button:hover {
    background: var(--cookie-guard-button-hover-background-color);
    color: var(--cookie-guard-button-hover-color);
}
.cookieguard__button:focus {
    outline: var(--cookie-guard-button-background-color) solid 2px;
    outline-offset: 2px;
}
.cookieguard__button:active {
    background: var(--cookie-guard-button-hover-background-color);
    color: var(--cookie-guard-button-hover-color);
}
.cookieguard__button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.cookieguard__button--primary {
    background: var(--cookie-guard-button-primary-background-color);
    color: var(--cookie-guard-button-primary-color);
}
.cookieguard__button--primary:hover {
    background: var(--cookie-guard-button-hover-primary-background-color);
    color: var(--cookie-guard-button-hover-primary-color);
}
.cookieguard__button--primary:focus {
    outline: var(--cookie-guard-button-primary-background-color) solid 2px;
    outline-offset: 2px;
}
.cookieguard__button--primary:active {
    background: var(--cookie-guard-button-hover-primary-background-color);
    color: var(--cookie-guard-button-hover-primary-color);
}
