:root {
    --cookiebanner-zindex: 99999;
    --cookiebanner-backdrop-color: rgba(0, 0, 0, 0.7);
    --cookiebanner-background-color: #fff;
    --cookiebanner-button-color: #fff;
    --cookiebanner-button-background-color: #000;
    --cookiebanner-button-hover-color: #fff;
    --cookiebanner-button-hover-background-color: #777;
    --cookiebanner-button-border-radius: 16px;
    --cookiebanner-button-primary-color: #fff;
    --cookiebanner-button-primary-background-color: #1051ac;
    --cookiebanner-button-hover-primary-background-color: #0b326a;
    --cookiebanner-button-hover-primary-color: #fff;
}

.cookiebanner {
    position: relative;
    z-index: var(--cookiebanner-zindex);
}

.cookiebanner__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cookiebanner-backdrop-color);
}
.cookiebanner__scroll-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    min-height: 100%;
}
.cookiebanner__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
.cookiebanner__content {
    background-color: var(--cookiebanner-background-color);
    padding: 48px;
    width: 48rem;
    max-width: 100%;
}

.cookiebanner__before-options {
    margin: 16px 0;
}

.cookiebanner__options {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.cookiebanner__checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.cookiebanner__checkbox {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.cookiebanner__button-container {
    margin-top: 16px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
    .cookiebanner__button-container {
        grid-template-columns: 1fr;
    }
}

.cookiebanner__button {
    display: inline-flex;
    appearance: none;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    border: none;
    line-height: 1.2;
    border-radius: var(--cookiebanner-button-border-radius);
    font-weight: bold;
    padding: 8px 16px;
    background: var(--cookiebanner-button-background-color);
    color: var(--cookiebanner-button-color);
    cursor: pointer;
    &:hover {
        background: var(--cookiebanner-button-hover-background-color);
        color: var(--cookiebanner-button-hover-color);
    }

    &:focus {
        outline: var(--cookiebanner-button-background-color) solid 2px;
        outline-offset: 2px;
    }

    &:active {
        background: var(--cookiebanner-button-hover-background-color);
        color: var(--cookiebanner-button-hover-color);
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.cookiebanner__button--primary {
    background: var(--cookiebanner-button-primary-background-color);
    color: var(--cookiebanner-button-primary-color);

    &:hover {
        background: var(--cookiebanner-button-hover-primary-background-color);
        color: var(--cookiebanner-button-hover-primary-color);
    }

    &:focus {
        outline: var(--cookiebanner-button-primary-background-color) solid 2px;
        outline-offset: 2px;
    }

    &:active {
        background: var(--cookiebanner-button-hover-primary-background-color);
        color: var(--cookiebanner-button-hover-primary-color);
    }
}
