$cookie-alert-bg-color: #fff !default;
$cookie-alert-title-font-size: 2rem !default;
$cookie-alert-max-container-width: 1260px !default;
$cookie-alert-position: 'top' !default;
$cookie-alert-transition-in-time: 0.25s !default; // set 0s to disable
$cookie-alert-transition-out-time: 0.25s !default; // set 0s to disable
$cookie-alert-zindex: 99999 !default;

.cookie-alert {
    position: fixed;
    z-index: $cookie-alert-zindex;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    transform: translateY(-100%);
    background-color: $cookie-alert-bg-color;
    transition: transform $cookie-alert-transition-out-time ease-out;

    @if($cookie-alert-position == 'bottom') {
        top: auto;
        bottom: 0;
        transform: translateY(100%);
    }

    .cookie-alert-is-active & {
        transform: translateY(0);
        transition: transform $cookie-alert-transition-in-time ease-out;
    }
}

.cookie-alert__content {
    position: relative;
    width: 100%;
    max-width: $cookie-alert-max-container-width;
    padding: 2rem;
}

.cookie-alert__header {
    margin-bottom: 1rem;
}

.cookie-alert__title {
    display: block;
    margin: 0;
    font-size: $cookie-alert-title-font-size;
}

.cookie-alert__description {
    margin: 0 0 2rem;
}

.cookie-alert__link {
    text-decoration: underline;
}
